<div>
  <h1>
    {{title}}
  </h1>

  <h3>
    Hobbies:
  </h3>

<button (click)="showHobbies()">{{flagHobbies ? 'Hide Hobbies' : 'Show Hobbies'}}</button>
<!--<button (click)="hideHobbies()">Hide Hobbies</button>-->

<div *ngIf ="flagHobbies" >
  <ul *ngFor="let m of hobbies">
    <li>
      {{m}}
    </li>
  </ul>

  <form (submit)="newHobby(hobby)">
    <input #hobby type ="text" name ="Hobby" placeholder="Please enter a hobby"/>
  </form>


 </div>

 <div >
   <h1>Modify the content</h1>
   <input type="text" name="name" placeholder="change the name" [(ngModel)] ="title">
 </div >

</div>


<h1> Posts </h1>

<div *ngFor="let post of _posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>